﻿<style>
    .pane {
        background-color: white !important;
    }

    .bar.bar-positive {
        border-color: #ff6722 !important;
        background-color: #ff6722 !important;
        background-image: linear-gradient(0deg, #ff6722, #ff6722 50%, transparent 50%) !important;
        color: #fff !important;
    }

    .text h1{
        font-size: 20px;
        padding-top: 15px; 
    }
</style>
<ion-view hide-nav-bar="true">
    <div class="bar bar-header bar-positive">
        <button ng-click="myGoBack()" class="button button-clear">
            <img src="images/ic_chevron_left.png"/>
        </button>
        <h1 class="title">
            <img src="images/logo_header.svg" style="top: 5px; position: relative; width: 33px;" />
        </h1>
    </div>



    <ion-content overflow-scroll="true">


        <div class="row" >
            <div class="col" style="text-align: left; margin-top: 50px; color: #949494; margin-bottom: 70px" ng-click="tryAgain()">
                <label class="text" ng-bind-html="message"></label>
            </div>
        </div>
    </ion-content>
</ion-view>
