﻿<style>
.bar-stable {
    background-color: #ff6722 !important;
}

.orange {
    color: #ff6722 !important;
}

.has-header {
    top: 0px !important;
    bottom: 108px;
}

.bar.bar-assertive {
    border-color: #f8f8f8;
    background-color: #f5f5f5;
    color: #000000;
}

.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(180deg, #f8f8f8, #ffffff 50%, transparent 50%);
}

img {
    border-radius: 0 !important;
}
</style>
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" animation="no-animation" ng-show="$root.showHeader != false">
            <ion-nav-buttons side="right">
                <div ng-show="$root.uiRouterState.current.name == 'app.myGames'" style="transform: rotate(90deg); top: -5px; position: relative" ng-click="orderClick()">
                    <a menu-toggle="left" style="font-size: 31px; color: white;top: 3px; position: relative; left: 6px; " class="icon ion-more"></a>
                </div>
            </ion-nav-buttons>
            <ion-nav-buttons side="left" ng-show="$root.showBackButton == true">
                <img src="images/ic_chevron_left.png" ng-show="$root.showBackButton == true" ng-click="back()" />
            </ion-nav-buttons>
            <div class="col" style="text-align: center">
                <img src="images/logo_header.svg" style="z-index: 9999; position: relative; width: 33px;" />
            </div>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <!--<ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>-->
</ion-side-menus>
<ion-footer-bar align-title="left" class="bar-assertive" ng-if="$root.showFooter" style="height: 60px; z-index: 23">
    <div style="    background: url(images/bottom-page.svg) no-repeat;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 86%;
    height: 9px;
    z-index: 9999999999;
    background-position: left bottom;
    background-size: cover;
"></div>
    <div class="button-bar" style="    padding-top: 5px;
    top: 19%;
    position: relative;
    border-top: 1px solid gainsboro;">
        <div style="    width: 25%;    text-align: center;" ng-click="myGamesClick()">
            <img style="width: 24px;   height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/game.svg" ng-hide="$root.uiRouterState.current.name == 'app.myGames' || $root.uiRouterState.current.name == 'app.myPrizes'" />
            <img style="width: 24px;   height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/game_orange.svg" ng-show="$root.uiRouterState.current.name == 'app.myGames' || $root.uiRouterState.current.name == 'app.myPrizes'" />
            <p ng-class="{'orange': $root.uiRouterState.current.name == 'app.myGames' || $root.uiRouterState.current.name == 'app.myPrizes'}" style="color: #949494;text-align: center;float: left;font-size: 10px;position: relative;width: 100%;TOP: -3px;">Meus Jogos</p>
        </div>
        <div style="    width: 25%;    text-align: center;" ng-click="vouchersClick()">
            <img style="    height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/voucher-icon.svg" ng-hide="$root.uiRouterState.current.name == 'app.vouchersDetail' || $root.uiRouterState.current.name == 'app.myVouchers'" />
            <img style="    height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/voucher-icon-orange.svg" ng-show="$root.uiRouterState.current.name == 'app.vouchersDetail' || $root.uiRouterState.current.name == 'app.myVouchers'" />
            <p ng-class="{'orange': $root.uiRouterState.current.name == 'app.vouchersDetail' || $root.uiRouterState.current.name == 'app.myVouchers'}" style="text-align: center;float: left;font-size: 10px;color: #949494;position: relative;width: 100%;TOP: -3px;">Vouchers</p>
        </div>
        
        <div style="    width: 25%;    text-align: center;" ng-click="activitiesClick()">
            <img style="    height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/activities.svg" ng-hide="$root.uiRouterState.current.name == 'app.activities'" />
            <img style="    height: 24px;    float: left;    position: relative;    left: 50%;    margin-left: -12px;" src="images/activities-orange.svg" ng-show="$root.uiRouterState.current.name == 'app.activities'" />
            <p ng-class="{'orange': $root.uiRouterState.current.name == 'app.activities'}" style="text-align: center;float: left;font-size: 10px;color: #949494;position: relative;width: 100%;TOP: -3px;">Atividades</p>
        </div>

        <div style="    width: 25%;    text-align: center;" ng-click="profileClick()">
            <img ng-hide="$root.uiRouterState.current.name == 'app.profile'" style="    height: 24px;    float: left;    position: relative;   left: 50%;    margin-left: -12px;" src="images/profile-icon.svg" />
            <img ng-show="$root.uiRouterState.current.name == 'app.profile'" style="    height: 24px;    float: left;    position: relative;   left: 50%;    margin-left: -12px;" src="images/profile-icon-orange.svg" />
            <p ng-class="{'orange': $root.uiRouterState.current.name == 'app.profile'}" style="text-align: center;float: left;font-size: 10px;color: #949494;position: relative;width: 100%;TOP: -3px;">Meu perfil</p>
        </div>
    </div>
</ion-footer-bar>
<script id="modal-order-game.html" type="text/ng-template">
    <ion-modal-view style="background-color: transparent; height: 100%;">
        <ion-content>
            <ul class="list" style="position: relative; margin-top: 133%;">
                <li class="item" ng-click="orderGameByName()">
                    Ordernar por nome
                </li>
                <li class="item" ng-click="orderGameByDate()">
                    Ordernar por mais recentes
                </li>
            </ul>
        </ion-content>
    </ion-modal-view>
</script>