﻿<style>
    .pane {
        background-color: white !important;
    }

    .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
        position: absolute;
        top: 16px;
        left: 9px;
        max-width: 53px;
        max-height: 53px;
        width: 100%;
        border-radius: 50% !important;
    }

    .modal-open .modal, .modal-open .modal-backdrop {
        height: 100% !important;
    }
</style>
<ion-view cache-view="false">
    <ion-content>
        <ion-refresher pulling-text="Aguarde, carregando..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Procurar" ng-change="searchPress()" ng-model="model.searchText">
            </label>
            <i ng-click="search()" class="icon ion-search placeholder-icon" style="position: absolute;    right: 8px;    z-index: 999;    top: 13px; font-size: 23px"></i>
        </div>


        <div class="row" ng-hide="gamesData.length > 0">
            <div class="col" style="text-align: center; color: #949494">
                <img width="150" src="images/no-game.svg" />
                <h4 style="font-weight: bold; color: #6b6a6a">Você não está participando de nenhum jogo!</h4>
                <p>Não perca tempo e comece a acumular pontos.</p>
            </div>
        </div>


        <div class="row" ng-show="gamesData.length > 0 && games.length == 0">
            <div class="col" style="text-align: center; color: #949494">
                <h4 style="font-weight: bold; color: #6b6a6a">Não foi encontrado nenhum jogo com este nome.</h4>
            </div>
        </div>


        <div class="list" ng-show="gamesData.length > 0 && games.length > 0">
            <a ng-show="game.pontos_usuario != 0" ng-click="gameClick(game)" class="item item-avatar" href="#" ng-repeat="game in games | object2Array | orderBy:orderBy">
                <img ng-class="{'verified': game.verificado == true}" src="{{'http://app.zypo.com.br//img/avatar/' + game.avatar}}" />
                <img style="position: absolute;left: 3px;top: 47px;width: 22px;" ng-show="game.verificado == true" src="images/verified.svg" />

                <h2>{{game.nome}}</h2>
                <i style="float: right;" class="icon ion-chevron-right"></i>
                <p>
                    {{game.pontos_usuario + '/' + game.pontos}} pontos
                    <label>
                        <img ng-show="!validatePoints(game.pontos_usuario, game.pontos)" style="top: 3px; right: 9%; position: relative; float: right; width: 15px;" src="images/star.svg" />
                    </label>
                </p>

                <!-- <progress ng-class="{'progress-greenn': !validatePoints(game.pontos_usuario, game.pontos)}" value="{{game.pontos_usuario}}" max="{{game.pontos}}">
                </progress> -->
                
                <div ng-class="{'progress-green': !validatePoints(game.pontos_usuario, game.pontos)}">
                    <progress value="{{game.pontos_usuario}}" max="{{game.pontos}}"></progress>
                </div>

                
              
            </a>
        </div>
    </ion-content>
</ion-view>
