﻿<style>
.pane {
    background-color: white !important;
}

.item-avatar>img:first-child,
.item-avatar .item-image,
.item-avatar .item-content>img:first-child,
.item-avatar .item-content .item-image,
.item-avatar-left>img:first-child,
.item-avatar-left .item-image,
.item-avatar-left .item-content>img:first-child,
.item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 9px;
    max-width: 53px;
    max-height: 53px;
    width: 100%;
    border-radius: 50%;
}

.button-orange {
    background-color: transparent !important;
    border-color: #ff6722;
    color: #ff6722;
}

.button-green {
    background-color: transparent !important;
    border-color: #009f08 !important;
    color: #009f08 !important;
}

.verify-game{
    position: relative;
    margin-top: -2px;
    margin-left: 10px;
}

.verify-game img {
    vertical-align: middle;
}

.verify-game span {
    font-size: 11px;
}
</style>
<ion-view>
    <ion-content overflow-scroll="true">
        <a class="item item-avatar" href="#">
          <img src="{{'http://app.zypo.com.br/img/avatar/' + game.jogo.avatar}}">
          <h2 >
            {{game.jogo.nome}}

              <span class="verify-game" ng-show="game.jogo.verificado == true">
                <img width="20" src="images/verified.svg">
                <span>Verificado</span>
              </span>
            </h2>
          <p><b style="color: #ff6722 ">{{game.pontosNoJogo}}</b> pontos</p>
        </a>

        <div class="padding">
            <p style="font-size: 0.8em; line-height: 11px; color: #b2b2b2; text-align: left;">{{game.jogo.descricao}}</p>
        </div>

        <div class="padding" ng-show="game.jogo.endereco != ''">
            <p style="font-size: 0.8em; line-height: 11px; color: #b2b2b2;">
                <img style="width: 19px;    position: relative;    top: 3px;" src="images/location.png" /> 
                {{game.jogo.endereco}}
            </p>
        </div>

        <div class="padding" style="color: #6b6a6a; border-bottom: 1px solid #e2e2e2;">
            <a ng-show="game.jogo.facebook != '' " href="{{game.jogo.facebook}}"><img style="padding-right: 5px; width: 25px;" src="images/facebook_ico.svg" /></a>
            <a ng-show="game.jogo.instagram != ''" href="{{game.jogo.instagram}}"><img style="padding-right: 5px; width: 25px;" src="images/instagram.svg" /></a>
            <a ng-show="game.jogo.twitter != ''" href="{{game.jogo.twitter}}"><img style="padding-right: 5px; width: 25px;" src="images/twitter.svg" /></a>
        </div>

        <div class="list">
            <div class="item" ng-repeat="prize in game.premios track by prize.id">
                <!-- <p>G: {{game.pontosNoJogo}}</p>
                <p>P: {{prize.pontos}}</p>
            <hr> -->
                <h4 style="font-weight: bold; color: #6b6a6a;font-size: 12px; text-transform: uppercase">Prêmios</h4>
                <p style="font-size: 10px; text-align: right;">
                    <span style="font-size: 12px; float: left;">{{prize.premio}}</span>
                    <button ng-class="{'button-green': !validatePoints(game.pontosNoJogo, prize.pontos)}" ng-disabled="validatePoints(game.pontosNoJogo, prize.pontos)" ng-click="getVoucher(prize.id, prize.premio)" style="margin-bottom: 4px;" class="button button-small button-small-custom button-orange">
                        Resgatar
                    </button>
                    <div ng-class="{'ball-small-green': !validatePoints(game.pontosNoJogo, prize.pontos)}" class="ball-small">{{prize.pontos}}</div>
                </p>

               <!--  <progress style="width: 100%" ng-class="{'progress-green': game.pontosNoJogo >= prize.pontos}" value="{{game.pontosNoJogo}}" max="{{prize.pontos}}">
                </progress> -->
                
                <div ng-class="{'progress-green': !validatePoints(game.pontosNoJogo, prize.pontos)}">
                    <progress value="{{game.pontosNoJogo}}" max="{{prize.pontos}}"></progress>
                </div>
            </div>
        </div>

        <div class="padding" ng-show="game.jogo.regulamento != ''">
            <p style="font-size: 12px;"><b>REGULAMENTO</b></p>
            <style>
            
            .showContent {
              line-height: 16px;
              height: 25px;
              overflow: hidden;
            }

            .showContenthover {
              overflow: visible;
              height: auto;
              white-space: normal;
            }
            </style>

            <div class="container" ng-class="{'showContent': !isActive, 'showContenthover': isActive}">
                <p style="font-size: 11px; line-height: 14px; color: #b2b2b2;text-align: left;">
                    {{game.jogo.regulamento}}
                </p>
            </div>

            <span ng-click="isActive = !isActive" style="display: block; margin-top: 10px;font-size: 0.8em; line-height: 11px; color: #b2b2b2; text-align: left;">
                <span ng-show="isActive" style="text-decoration: underline;">Ver menos</span>
                <span ng-hide="isActive" style="text-decoration: underline;">Ver mais</span>
            </span>
        </div>
    </ion-content>
</ion-view>