﻿<style>
    .pane {
        background-color: white !important;
    }

    .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
        position: absolute;
        top: 16px;
        left: 9px;
        max-width: 53px;
        max-height: 53px;
        width: 100%;
        border-radius: 50%;
    }

    .button.button-assertive {
        border-color: #ff6722;
        background-color: #ff6722;
        color: #fff;
    }
</style>
<ion-view>
    <ion-content overflow-scroll="true">
        <br />

        <div class="button-bar" style="width: 90%; left: 5%; position: relative;">
            <a ng-click="activeVouchersClick()" ng-class="{'button-assertive': activeVouchers == true}" class="button button-small">Vouchers ativos</a>
            <a ng-click="usedVouchersClick()" ng-class="{'button-assertive': activeVouchers == false}" class="button button-small">Vouchers utilizados</a>
        </div>
        <br />
        <div class="row" ng-show="vouchers.ativos.length == 0 && activeVouchers == true">
            <div class="col" style="text-align: center; color: #949494">
                <img width="150" src="images/no-game.svg" />
                <h4 style="font-weight: bold; color: #6b6a6a">Você ainda não possui nenhum voucher!</h4>
                <p>Não perca tempo e comece a acumular pontos.</p>
            </div>
        </div>
        <div class="row" ng-show="vouchers.utilizados.length == 0 && activeVouchers == false">
            <div class="col" style="text-align: center; color: #949494">
                <img width="150" src="images/no-game.svg" />
                <h4 style="font-weight: bold; color: #6b6a6a">Você ainda não possui nenhum voucher!</h4>
                <p>Não perca tempo e comece a acumular pontos.</p>
            </div>
        </div>

        <div class="list" ng-show="activeVouchers == true">
            <a class="item item-icon-right" href="#" ng-click="voucherClick(voucher.id)" ng-repeat="voucher in vouchers.ativos track by voucher.id">
                <img src="images/ticket.svg" style="float: left; padding-right: 10px; width: 75px;" />

                <i class="icon ion-chevron-right"></i>
                <h3 style="top: 5px; position: relative; white-space: normal; font-weight: bold; color: #222">{{voucher.premio}}</h3>
                <p style="top: 5px; position: relative;">{{voucher.jogo}}</p>
            </a>
        </div>
        <div class="list" ng-show="activeVouchers == false">
            <a class="item item-icon-right" href="#" ng-repeat="voucher in vouchers.utilizados track by voucher.id" ng-click="voucherClick(voucher.id)">
                <img src="images/ticket_used.svg" style="float: left; padding-right: 10px; width: 75px;" />

                <i class="icon ion-chevron-right"></i>
                <h3 style="top: 5px; position: relative; white-space: normal; font-weight: bold; color: #9c9b9b">{{voucher.premio}}</h3>
                <p style="top: 5px; position: relative;">{{voucher.jogo}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
