﻿<style>
.itemProfile {
    border-color: #ddd !important;
    background-color: #fff !important;
    position: relative !important;
    z-index: 2 !important;
    display: block !important;
    margin: -1px !important;
    padding: 13px !important;
    border-style: solid !important;
    font-size: 14px !important;
    border-width: 0px;
    padding-left: 45px !important;
}

.itemProfile img {
    width: 20px;
}
</style>
<ion-content style="margin-top: -5px; " ng-controller="ProfileCtrl">
    <div style="background-color: #ff6722 !important;">
        <div class="padding" style="text-align: center; padding-top: 30px">
            <img id="imgProfile" style="border-radius: 50% !important; width: 70px; height: 70px;  border: 5px solid white;" src="{{profileImage}}" />
            <br />
            <button class="button button-small button-small-custom button-positive" ng-click="changePictureClick()">
                Alterar foto
            </button>
            <br />
            <p class="white-text"><b>{{name}}</b></p>
            <p class="white-text">{{cpf}}</p>
            <p class="white-text">{{email}}</p>
        </div>
       
        <div class="list" style="color: #949494">
            <a class="item itemProfile item-icon-left" href="#" ng-click="editProfileClick()">
                    <img style="position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/profile-fill.png" />
                    Editar perfil
                </a>
            <!--<a class="item itemProfile item-icon-left" href="#">
                    <img style="position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/config.png" />
                    Configurações
                </a>-->
            <a class="item itemProfile item-icon-left" href="#" ng-click="logoffClick()">
                    <img style="position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/exit.svg" />
                    Sair
                </a>
            <a class="item itemProfile item-icon-left" href="#" style="border-width: 1px" ng-click="aboutClick()">
                    <img style="position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/spam.svg" />
                    Sobre
                </a>
            <a class="item itemProfile item-icon-left" href="#" ng-click="termsClick()">
                    <img style="width: 18px; position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/terms.svg" />
                    Termos de uso
                </a>
            <a class="item itemProfile item-icon-left" href="#" ng-click="contactClick()">
                    <img style="position: absolute; z-index: 999999; top: 25%; left: 15px;" src="images/contact.png" />
                    Fale conosco
                </a>
        </div>
        <!--<a class="button button-icon icon ion-email" style="color:white;    position: absolute;    top: 10px;    right: 16px;" ng-click="contactClick()"></a>-->
    </div>
</ion-content>