﻿<style>
    .pane {
        background-color: white !important;
    }  

    .bar-positive {
        background-color: #ff6722 !important;
    }
</style>

<ion-view hide-nav-bar="true">
    <div class="bar bar-header bar-positive">
        <button ng-click="myGoBack()" class="button icon-left ion-chevron-left button-clear"></button>
        <h1 class="title">
            <img src="images/logo_header.svg" style="top: 5px; position: relative; width: 33px;" />
        </h1>
    </div>
    <ion-content overflow-scroll="true">
        <form name="registerForm" novalidate>
            <div class="bar bar-header bar-assertive" style="position: relative; background-color: #ff6722; background-image: none">
                <img src="images/ic_chevron_left.png" style="z-index: 9999999" ng-click="back()" />
                <h1 class="title">{{titulo}}</h1>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span ng-show="(registerForm.fullName.$error.required || registerForm.fullName.$error.minlength) && (registerForm.fullName.$dirty || registerForm.fullName.$touched)" style="color: red; position: relative; left: -7px; top: 3px;">*</span>
                    <input only-letters-input type="text" name="fullName" placeholder="Nome completo" ng-model="account.fullName" required ng-minlength="5">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span ng-show="(registerForm.email.$error.email || registerForm.email.$error.required || registerForm.email.$error.minlength) && (registerForm.email.$dirty || registerForm.email.$touched)" style="color: red; position: relative; left: -7px; top: 3px;">*</span>
                    <input type="email" name="email" placeholder="E-mail" ng-model="account.email" required ng-minlength="5">
                </label>
            </div>
            <div class="list list-inset" ng-if="titulo == 'Cadastro'">
                <label class="item item-input">
                    <span ng-show="(registerForm.password.$error.required || registerForm.password.$error.minlength) && (registerForm.password.$dirty || registerForm.password.$touched)" style="color: red; position: relative; left: -7px; top: 3px;">*</span>
                    <input type="password" name="password" placeholder="Senha" ng-model="account.password" required ng-minlength="5">
                </label>
            </div>
            <div class="list list-inset" ng-if="titulo == 'Cadastro'">
                <label class="item item-input">
                    <span ng-show="(account.confirmPassword != account.password || registerForm.confirmPassword.$error.required || registerForm.confirmPassword.$error.minlength) && (registerForm.confirmPassword.$dirty || registerForm.confirmPassword.$touched)" style="color: red; position: relative; left: -7px; top: 3px;">*</span>
                    <input type="password" name="confirmPassword" placeholder="Repetir senha" ng-model="account.confirmPassword" required ng-minlength="5">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="tel" mask="31/12/9999" placeholder="Data de nascimento" ng-model="account.birthDate" required />
                </label>
                <img src="images/date.svg" alt="" ng-click="showDatePicker()" style="    position: absolute;    right: 10px;    top: 11px; width: 25px;   z-index: 99999;" />
            </div>
            <!--<div class="col" style="text-align: center">
                <p>Gênero</p>
            </div>-->
            <!--<div class="button-bar">
                <a class="button">First</a>
                <a class="button">Second</a>
                <a class="button">Third</a>
            </div>-->

            <div class="padding">
                <button ng-click="register()" ng-disabled="registerForm.$invalid || account.confirmPassword != account.password" class="button button-block button-assertive" style="background-color: #ff6722; background-image: none; border-color: #ff6722">
                    Salvar
                </button>
            </div>
            <br/>
            <div ng-show="titulo == 'Cadastro'" class="col" style="text-align: center">
                <img src="images/facebook.svg" style="width: 60%;" ng-click="loginFacebook()" />
            </div>
            <br /><br />
            <br />
        </form>
        <a ng-show="titulo == 'Cadastro'" class="button button-icon icon ion-email" style="color:white;    position: absolute;    top: 10px;    right: 16px;" ng-click="contactClick()"></a>
    </ion-content>
</ion-view>
