﻿<ion-view hide-nav-bar="true">
    <style>
        .pane {
            background-color: #ff6722 !important;
        }
    </style>

    <img src="images/sucess.png" style="width: 100%" />
    <div class="row">
        <div class="col" style="text-align: center">
            <p class="white-text">Sucesso!</p>
        </div>
    </div>
</ion-view>
