﻿<style>
</style>
<ion-view>
    <ion-content overflow-scroll="true">
        <div class="row">
            <div class="col" style="text-align: center; color: #6b6a6a">
                <h4 style="font-weight: bold; color: #6b6a6a">
                        {{voucher.premio}}
                    </h4>
                <p>{{voucher.jogo}}</p>
                <br />
                <img style="width: 60%;" src="{{voucher.qrCode}}" />
                <p>Código do voucher</p>
                <div style="border-radius: 25px; line-height: 1px; border: 2px solid #ff6722; padding: 20px; width: 60%; height: 16px; display: flex; margin-left: 20%; position: relative; color: #ff6722;"> <label style="width: 100%; text-align: center; height: 100%; line-height: 3px;">{{voucher.codigo}}</label>
                </div>
                <!-- <p>Válido até <b>02/12/2017</b></p> -->
                <br />

                <div class="padding" ng-show="voucher.regulamento != ''">
                    <p style="font-size: 12px;"><b>REGULAMENTO</b></p>
                    <style>
                    
                    .showContent {
                      line-height: 16px;
                      height: 25px;
                      overflow: hidden;
                    }

                    .showContenthover {
                      overflow: visible;
                      height: auto;
                      white-space: normal;
                    }
                    </style>

                    <div class="container" ng-class="{'showContent': !isActive, 'showContenthover': isActive}">
                        <p style="font-size: 11px; line-height: 14px; color: #b2b2b2;text-align: left;">
                            {{voucher.regulamento}}
                        </p>
                    </div>

                    <span ng-click="isActive = !isActive" style="display: block; margin-top: 10px;font-size: 0.8em; line-height: 11px; color: #b2b2b2; text-align: left;">
                        <span ng-show="isActive" style="text-decoration: underline;">Ver menos</span>
                        <span ng-hide="isActive" style="text-decoration: underline;">Ver mais</span>
                    </span>
                </div> 
            </div>
        </div>
    </ion-content>
</ion-view>