﻿<style>
    .pane {
        background-color: white !important;
    }

    .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
        position: absolute;
        top: 16px;
        left: 9px;
        max-width: 53px;
        max-height: 53px;
        width: 100%;
        border-radius: 50%;
    }

    .button.button-assertive {
        border-color: #ff6722;
        background-color: #ff6722;
        color: #fff;
    }
</style>
<ion-view cache-view="false">
    <ion-content overflow-scroll="true">
        <br />

        <div class="button-bar" style="width: 90%; left: 5%; position: relative;">
            <a ng-click="activitiesClick()" ng-class="{'button-assertive': activities == true}" class="button button-small">Atividades</a>
            <a ng-click="notificationClick()" ng-class="{'button-assertive': activities == false}" class="button button-small">Notificações</a>
        </div>
        <br />
        <div class="list" ng-show="activities == false">
            <a class="item item-icon-right" href="#" ng-repeat="notification in notifications">
                <h3 style="white-space: normal; color: #222">
                    {{notification.message}}
                </h3>
                <p style="font-size: 0.7em;">{{ notification.data | date: 'dd/MM/yyyy' }}</p>
            </a>

        </div>
        <div class="row" ng-show="activities == true">
            <div class="col" style="text-align: center; color: #6b6a6a">
                <div ng-repeat="activity in activitiesList">
                    <p style="text-align: left; position: relative;height: 24px;">
                        <!--<label style="position: relative; left: 30%; margin-left: -63px;"><b>Hoje</b></label>-->
                        <span style="position: relative ;font-size: 11px; width: 21%; float: left; line-height: 12px; margin-top: 8px;">
                            {{ activity.data | date: 'dd/MM/yyyy' }}
                        </span>
                        <img style="width: 25px; position: relative; float: right; right: 70%;" src="images/calendar-rounded.svg">
                    </p>
                    <p style="height: 18px;    border-left: solid 1px gray;    left: 25.7%;position: relative;"></p>
                    <p style="text-align: left;top: -5px;position: relative;height: 24px;">
                        <img style="width: 25px; top: 5px; position: relative; float: left;    left: 30%;    margin-left: -25px;" src="{{activity.image}}">
                        <label ng-bind-html="activity.message" style="float: right; width: 67%; position: relative; font-size: 12px;"></label>
                    </p>
                    <p style="height: 18px;    border-left: solid 1px gray;    left: 25.7%;position: relative;"></p>
                </div>

                <!--<p style="height: 22px;border-left: solid 1px gray;left: 25.7%;position: relative;">

                <p style="text-align: left; position: relative;height: 24px;">
                    <span style="position: relative ;font-size: 11px; width: 21%; float: left; line-height: 12px; margin-top: -3px;">
                        Terça-feira, 18 de abril
                    </span>
                    <img style="width: 25px;position: relative; float: right; right: 70%;" src="images/calendar-rounded.svg" />
                </p>
                <p style="height: 22px;border-left: solid 1px gray;left: 25.7%;position: relative;"></p>
                <p style="text-align: left;top: -5px;position: relative;height: 24px;">
                    <img style="width: 25px; top: 5px; position: relative; float: left;    left: 30%;    margin-left: -25px;" src="images/balloon.svg">
                    <label style="float: right; width: 67%; position: relative; font-size: 12px;"><b>Parabéns</b> você está cadastrado e já pode começar a acumular pontos</label>
                </p>-->
            </div>
        </div>
    </ion-content>
</ion-view>
