﻿<ion-view hide-nav-bar="true">
    <style>
        .pane {
            background-color: #ff6722 !important;
        }
    </style>

    <img src="images/logo.png" style="width: 100%" />
    <div class="row">
        <div class="col" style="text-align: center">
            <p class="white-text">Seu CPF já está cadastrado!</p>
            <p class="white-text">Entre com sua senha.</p>
        </div>
    </div>
    <div class="list list-inset">
        <label class="item item-input">
            <input mask="999.999.999-99" ng-disabled="true" type="tel" placeholder="Digite seu CPF" ng-model="cpf">
        </label>
    </div>
    <div class="list list-inset">

        <label class="item item-input">
            <input type="password" placeholder="Digite sua senha" ng-model="account.password">
        </label>
    </div>

    <div class="row">
        <div class="col" style="text-align: center">
            <button ng-click="login()" class="button button-block button-assertive">
                Entrar
            </button>
        </div>
    </div>
    <div class="col" style="text-align: center">
        <p class="white-text" ng-click="forgotPassword()">Esqueceu sua senha?</p>
    </div>
    <div class="col" style="text-align: center">
        <p class="white-text" style="color: rgba(255, 255, 255, 0.59); font-weight: lighter; font-size: 14px;">ou</p>
    </div>
    <div class="col" style="text-align: center">
        <img src="images/facebook.svg" style="width: 60%;" ng-click="loginFacebook()" />
    </div>
</ion-view>
