﻿<style>
    .pane {
        background-color: white !important;
    }

    .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
        position: absolute;
        top: 16px;
        left: 9px;
        max-width: 53px;
        max-height: 53px;
        width: 100%;
        border-radius: 50%;
    }

    .button-orange {
        background-color: transparent !important;
        border-color: #ff6722;
        color: #ff6722;
    }
    .button-green {
        background-color: transparent !important;
        border-color: #009f08 !important;
        color: #009f08 !important;
    }
</style>
<ion-view>
    <ion-content overflow-scroll="true">
        <div class="row">
            <div class="col" style="text-align: center; color: #6b6a6a">
                <img style="width: 70px;    left: 9px;    position: absolute; border-radius: 50% !important" src="{{'https://zypo.herokuapp.com/img/avatar/' + game.jogo.avatar}}" />
                <h4 style="font-weight: bold; color: #6b6a6a;font-size: 15px;">
                    <span style="position: relative; left: 14px">{{game.jogo.nome}}</span>
                    <span ng-show="game.jogo.verificado == true" style="font-size: 12px; top: 2px; position: relative; left: 20px; color: #b2b2b2; font-weight: normal"><img src="images/verified.svg" style="width: 19px;padding-right: 3px;" /><span style="position: relative; top: -4.5px; font-size: 10px">Verificado</span></span>
                </h4>
                <p style="font-size: 12px;    font-size: 12px;    left: 70px;    position: relative;    float: left;">
                    <div class="ball-big">{{game.pontosNoJogo}}</div>pontos
                </p>
                <br />
                <br />
                <p style="font-size: 0.8em; line-height: 11px; color: #b2b2b2; text-align: left;">{{game.jogo.descricao}}</p>
            </div>
        </div>
        <div class="row" ng-show="game.jogo.endereco != ''">
            <div class="col" style="color: #6b6a6a">
                <p style="font-size: 0.8em; line-height: 11px; color: #b2b2b2;">
                    <img style="width: 19px;    position: relative;    top: 3px;" src="images/location.png" />
                    {{game.jogo.endereco}}
                </p>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #e2e2e2;">
            <div class="col" style="color: #6b6a6a">
                <a ng-show="game.jogo.facebook != '' " href="{{game.jogo.facebook}}"><img style="padding-right: 5px; width: 25px;" src="images/facebook_ico.svg" /></a>
                <a ng-show="game.jogo.instagram != ''" href="{{game.jogo.instagram}}"><img style="padding-right: 5px; width: 25px;" src="images/instagram.svg" /></a>
                <a ng-show="game.jogo.twitter != ''" href="{{game.jogo.twitter}}"><img style="padding-right: 5px; width: 25px;" src="images/twitter.svg" /></a>
            </div>
        </div>
        <div class="list">
            <div class="item" ng-repeat="prize in game.premios track by prize.id">
                <h4 style="font-weight: bold; color: #6b6a6a;font-size: 12px; text-transform: uppercase">Prêmios</h4>
                <p style="font-size: 10px; text-align: right;">
                    <span style="font-size: 12px; float: left;">{{prize.premio}}</span>
                    <button ng-class="{'button-green': parseInt(game.pontosNoJogo) >= parseInt(prize.pontos)}" ng-disabled="validatePoints(game.pontosNoJogo, prize.pontos)" ng-click="getVoucher(prize.id, prize.premio)" style="margin-bottom: 4px;" class="button button-small button-small-custom button-orange">
                        Resgatar
                    </button>
                    <div ng-class="{'ball-small-green': parseInt(game.pontosNoJogo) >= parseInt(prize.pontos)}" class="ball-small">{{prize.pontos}}</div>
                </p>
                <progress style="width: 100%" ng-class="{'progress-green': parseInt(game.pontosNoJogo) >= parseInt(prize.pontos)}" value="{{game.pontosNoJogo}}" max="{{prize.pontos}}">
                </progress>
            </div>
            <div class="row" style="border-bottom: 1px solid #e2e2e2;">
                <div class="col" style="color: #6b6a6a">
                    <p style="font-size: 12px;"><b>REGULAMENTO</b></p>
                    <p style="font-size: 0.7em; line-height: 11px; color: #b2b2b2;text-align: left;">
                        {{game.jogo.regulamento}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
