﻿<style>

</style>
<ion-view>
        <ion-content overflow-scroll="true">
            <div class="row">
                <div class="col" style="text-align: center; color: #6b6a6a">
                    <h4 style="font-weight: bold; color: #6b6a6a">
                        {{voucher.premio}}
                    </h4>
                    <p>{{voucher.jogo}}</p>
                    <br />
                    <img style="width: 60%;" src="{{voucher.qrCode}}" />
                    <p>Código do voucher</p>
                    <div style="border-radius: 25px;
    line-height: 1px;
    border: 2px solid #ff6722;
    padding: 20px;
    width: 60%;
    height: 16px;
    display: flex;
    margin-left: 20%;
    position: relative;
    color: #ff6722;">
                        <label style="width: 100%; text-align: center; height: 100%; line-height: 3px;">{{voucher.codigo}}</label>
                    </div>
                    <!-- <p>Válido até <b>02/12/2017</b></p> -->
                    <br />
                    <p><b>REGULAMENTO</b></p>
                    <p style="font-size: 0.7em; line-height: 11px; color: #b2b2b2;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
            </div>
        </ion-content>
</ion-view>
