﻿.button.button-positive {
    border-color: #fff;
    background-color: #ff6722;
    color: #fff;
}

// .progress-green::-webkit-progress-bar {
//     background: #009f08;
// }
// .progress-green::-webkit-progress-value {
//     background: #009f08;
// } 
// .progress-green::-moz-progress-bar {
//     background: #009f08;
// }


// progress::-webkit-progress-bar {
//     /* style rules */
//     background-color: #f9f9f9;
//     border-radius: 2px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
// }

// progress::-webkit-progress-value {
//     background: #ff6722;
// } 
// progress::-moz-progress-bar {
//     background: #ff6722;
// }

// progress {
//     margin: auto;
//     height: 5px;
//     background-color: #ff6722;
//     width: 100%;
//     float: left;
// }

// progress {
//     color: #ff6722;
//     font-size: .6em;
//     line-height: 1.5em;
//     text-indent: .5em;
//     width: 100%;
//     height: 8px;
//     border: 1px solid #dddddd;
//     background: #fff;
//     margin: auto;
// }
// 



progress {
}

progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  width: 100%;
  height: 7px;
  margin: auto;

  /* Firefox */
  border: none;
  background: #EEE;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}

progress::-webkit-progress-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  border-radius: 3px;
}

/* value menor */
progress::-webkit-progress-value {
  background-color: #ff6722;
  border-radius: 3px;
}

/* value maior igual */
.progress-green progress::-webkit-progress-value {
    background-color: #009f08;
}






.verified {
    border: 3px solid #ff6722;
    border-radius: 50% !important;
}

.button-small-custom {
    min-width: 25px !important;
    min-height: 23px !important;
    font-size: 10px !important;
    line-height: 18px !important;
}

.page--bg-orange__content {
    background-color: #ff6722 !important;
}

.toolbar--toobar-orange {
    background-color: #ff6722;
}

p {
    margin: 0;
}

.btn-cadastro {
    background-color: #ff6722;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.img-logo {
    width: 100%;
}

.white-text {
    color: white;
}

.row-cpf {
    padding: 0px 30px;
    margin-bottom: 20px;
}

.ball-big {
    border-radius: 50%;
    border: 1px solid #ff6722;
    padding: 5px;
    font-weight: bold;
    color: #ff6722;
    min-width: 33px;
    height: 33px;
    font-size: 12px;
    position: absolute;
    line-height: 22px;
    left: 50%;
    margin-left: -65px;
    margin-top: -6px;
}

.ball-small-green {
    border-radius: 50%;
    border: 1px solid #009f08 !important;
    padding: 5px;
    font-weight: bold;
    color: #009f08 !important;
    width: 26px;
    height: 26px;
    font-size: 9px;
    position: relative;
    line-height: 16px;
    float: right;
    right: 0px;
    text-align: center;
    margin-right: 58px;
    margin-top: -31px;
}

.ball-small {
    border-radius: 50%;
    border: 1px solid #ff6722;
    padding: 5px;
    font-weight: bold;
    color: #ff6722;
    width: 26px;
    height: 26px;
    font-size: 9px;
    position: relative;
    line-height: 16px;
    float: right;
    right: 0px;
    text-align: center;
    margin-right: 58px;
    margin-top: -31px;
}

.input-form {
    background: white;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 50px;
    margin-top: 10px;
}

    .input-form input {
        width: 80%;
        height: 95%;
        border: none;
        text-align: center;
    }

.input-icon img {
    float: right;
    margin-top: 2px;
}

.input-icon {
    background: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
}

.arrow-circle-icon {
    background-image: url(./../img/next.png);
    padding-right: 36px;
    background-repeat: no-repeat;
    background-position: 97%;
    background-color: white;
    background-size: 30px;
}

.margintop-20 {
    margin-top: 20px;
}

.btn-entrar {
    width: 100%;
    background-color: #bf4610;
}

.btn-facebook {
    width: 100%;
    background-color: #39579a;
}

.btn-border {
    border: 1px solid white;
    color: white;
}

.btn-facebook ons-icon {
    font-size: 18px;
    margin-right: 5px;
}

.login-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ababab;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line {
    background: #ff6722;
    color: #a7a7a7;
    padding: 0 10px;
}

.divider-text {
}
